
        <h1 class="pagetitle">$EDIT_PROVIDER</h1>
        <div class="edit-unit">
            <fieldset>
                <input type="hidden" value="$prov" name=prov>
                <legend>&nbsp;$DETAILS_PROVIDER&nbsp;</legend>
                
                <p><label class="left">$ID:</label>
                <input type=text disabled value="$prov" class="field"></p>

                <p><label class="left">$NAME:</label>
                <input type=text value="$name" class="field" name="name"></p>

                <p><label class="left">$IP:</label>
                <input type=text value="$ip" class="field" name="ip"></p>

                <p><label class="left">$IFACE:</label>
                <input type=text value="$iface" class="field" name="iface"></p>

                <p><label class="left">$RATE:</label>
                <select name="rate" size="1" class="combo">
                    $rate_options
                </select></p>    
            </fieldset>
            <p><input class="left" type="submit" value="Ok" name=ok>
            <input class="leftnext" type="submit" value="Delete" name=delete></p>
        </div>

        <h1 class="pagetitle">$PROVIDER_CAPTION</h1>
        <div class="table-unit">
    		<table>
                <tr>
                    <th class="first"></th><th>$NAME</th><th>$IP</th><th>$IFACE</th><th>$RATE</th>
                </tr>
                $providers_table
    		</table>
    	</div>
