 
        <!-- Edit box -->
        <h1 class="pagetitle">$MSG_ADD</h1>
        <div class="edit-unit">
            <fieldset>
                <legend>&nbsp;$MSG_DETAILS&nbsp;</legend>
                
                <p><label class="left">$MSG_CLIENT:</label>
                <select name="reciever" size="1" class="combo">
                    $receivers_list
                </select></p>

                <p><label class="left">$MSG_TEXT:</label>
                <textarea class="field" name="msg"></textarea></p>
            </fieldset>
            <p><input class="left" type="submit" value="Add" name=add>
            </p>
        </div>
        
        <!-- Show box -->
        <h1 class="pagetitle">$MSG_CAPTION</h1>
        <div class="table-unit">
    		<table>
                <tr>
                    <th class="first">&nbsp</th><th width=150px>$DATE</th><th>$MSG_FROM</th><th>$MSG_TO</th><th>$MESSAGE</th>
                </tr>
                
                $msg_list
	  
    		</table>
        </div>
