
        <h1 class="pagetitle">$EDIT_ADMIN</h1>
        <div class="edit-unit">
            <fieldset>
                <legend>&nbsp;$DETAILS_ADMIN&nbsp;</legend>
                
                <p><label class="left">$ADMIN_NAME:</label>
                <input type=text value="$name" class="field" name="name"></p>

                <p><label class="left">$ADMIN_PASSWD:</label>
                <input type=password value="" class="field" name="passwd"></p>

            </fieldset>
            <p><input class="left" type="submit" value="Ok" name=ok>
            </p>          
        </div>


