
        <!-- Edit box -->
        <h1 class="pagetitle">$EDIT_CLIENT</h1>
        <div class="edit-unit">
            <input type=hidden value="$client" name=client></p>
            <fieldset>
                <legend>&nbsp;$DETAILS_CLIENT&nbsp;</legend>
                
                <p><label class="left">$ID:</label>
                <input type=text disabled value="$client" class="field"></p>

                <p><label class="left">$NAME:</label>
                <input type=text value="$name" class="field" name=name></p>

                <p><label class="left">$SUPER:</label>
                <label for=yes>$YES</label><input id=yes type=radio value="yes" name=super>
                <label for=yes>$NO</label><input type=radio value="no" name=super checked></p>

            </fieldset>
            <p><input class="left" type="submit" value="Ok" name=ok>
            <input class="leftnext" type="submit" value="Delete" name=delete></p>
        </div>

        <h1 class="pagetitle">$CLIENT_CAPTION</h1>
        <div class="table-unit">
            <table>
                <tr>
                    <th class="first">$ID</th><th>$LOGIN</th><th>$ACCOUNT</th><th>$STATUS</th>
                </tr>
                $clients_table
            </table>
        </div>

