        
        <!-- Edit box -->
        <h1 class="pagetitle">$TIME_RANGE</h1>
        <div class="simple-unit">
            $select_month
        </div>
        
        <!-- Edit box -->
        <h1 class="pagetitle">$ADD_CAPTION</h1>
        <div class="table-unit">
            $PAYMENT_HELP1<br>
            $PAYMENT_HELP2<br>
            $PAYMENT_HELP3<br>
    		<table>
                <tr>
                    <th class="first">$LOGIN</th><th>$TRAFIC</th><th>$ADDED</th><th>$ACCOUNT</th><th>$DEBT</th><th>$ADD</th>
                </tr>
                $adds_list
    
    		</table>
        </div>
        
        <!-- Show box -->
        <h1 class="pagetitle">$ADDS_CAPTION</h1>
        <div class="table-unit">
            <table>
                <tr>
                    <th class="first">$DATE</th><th>$CLIENT</th><th>$SUM</th><th>$TYPE</th>
                </tr>
                $credit_history
            </table>
        </div>
        
        <h1 class="pagetitle">$SUMMARY_CAPTION</h1>
        <div class="table-unit">
            <table>
                <tr>
                    <th class="first">$PROVIDER</th><th>$TRAFIC</th><th>$SPENT</th><th>$PROFIT</th>
                </tr>
                $summary_table 
            </table>
        </div>        

