<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <title>$title</title>
    <link rel="stylesheet" type="text/css" media="screen,projection,print" href="../newstyle.css" />
</head>

<form name="mainform" action="$script" method="post" enctype="multipart/form-data">

  <div class="page-container">

    <!-- Header -->
    <div class="header">
        <div class="header-body">
            <h1>EasyInetAccess</h1>
            <h2>$ADMIN_CONSOLE</h2>
        </div>
    </div>


    <!-- Body -->
    <div class="main">

      <!-- Main -->
      <div class="main-content">
        
        $derived

      </div>

      <!-- Navigation -->   
      
      <div class="main-navigation">
        <ul class="navigation" id="navigation_line">
    		<li class="button"><a href="web_admin_add.py?$session_link" class="first">$ADDS_LINK</a></li>
    		<li class="button"><a href="web_admin_clients.py?$session_link">$CLIENT_LINK</a></li>
    		<li class="button"><a href="web_admin_devices.py?$session_link">$DEVICE_LINK</a></li>
    		<li class="button"><a href="web_admin_settings.py?$session_link">$SETTINGS_LINK</a></li>
        </dl>                        
      </div>
    
    </div>

    <!-- Footer -->      
    <div class="footer">
        <p>EIA v$version &copy Volodymyr Tymoshchuk 2014</p>
    </div>
        
  </div> 

$session
</form>
</body>
</html>
