
        <!-- Show box -->
        <h1 class="pagetitle">$CLIENT_PAGE</h1>
        <div class="edit-unit">
            <fieldset>
                <legend>&nbsp;$DETAILS_CLIENT&nbsp;</legend>
                
                <p><label class="left">$CLIENT_ACCOUNT:</label>
                <input type=text readonly value="$account" class="c_field"></p>

                <p><label class="left">$CLIENT_DEBT:</label>
                <input type=text readonly value="$debt" class="c_field"></p>

                <p><label class="left">$CLIENT_IP:</label>
                <input type=text readonly value="$ipaddr" class="c_field"></p>

                <p><label class="left">$RATE:</label>
                <input type=text readonly value="$model" class="c_field"></p>

            </fieldset>            
            <fieldset>
                <legend>&nbsp;$TRAFLIMIT&nbsp;</legend>
                
                <p><label class="left">$DOWNLOAD:</label>
                <input type=text readonly value="$traf" class="c_field"></p>

                <p><label class="left">$LIMIT:</label>
                <input type=text value="$traflimit" class="field" name=traflimit></p>
                
                <p><input class="button" type="submit" value="$SET_LIMIT" name=set_traflimit></p><br>

            </fieldset>            
        </div>
        


