<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <title>$title</title>
    <link rel="stylesheet" type="text/css" media="screen,projection,print" href="../newstyle.css" />
</head>

<form name="mainform" action="$script" method="post" enctype="multipart/form-data">

  <div class="page-container">
    <!-- Header -->
    <div class="header">
        <div class="header-body">
            <h1>EasyBS</h1>
            <h2>$CLIENT_CONSOLE</h2>
        </div>
    </div>

    <!-- Body -->
    <div class="main">
      <!-- Main -->
      <div class="main-content">
        
        $derived

      </div>
    </div>

    <!-- Footer -->      
    <div class="footer">
        <p>EasyBS v$version &copy Volodymyr Tymoshchuk 2014</p>
    </div>
        
  </div> 

</form>
</body>
</html>
