
        <!-- Show box 
        <h1 class="pagetitle">$CLIENT_PAGE</h1> -->
        <div class="edit-unit">
            <fieldset >
                <legend>&nbsp;$DETAILS_CLIENT&nbsp;</legend>

                <div class="register-switch">
                    $users
                </div>

                <!-- <div class="register-switch">
                    $devices
                </div> -->
                <div class="register-switch">
                  <input type="radio" name="duration" value="10" id="b1" class="register-switch-input">
                  <label style="width:33%;" for="b1" class="register-switch-label">1$CR/10$MIN</label>
                  <input type="radio" name="duration" value="20" id="b2" class="register-switch-input">
                  <label style="width:33%;" for="b2" class="register-switch-label">2$CR/20$MIN</label>
                  <input type="radio" name="duration" value="30" id="b3" class="register-switch-input">
                  <label style="width:33%;" for="b3" class="register-switch-label">3$CR/30$MIN</label>
                </div>
                <input type="submit" value="Start" name=start class="register-button">
            </fieldset>                      
        </div>
