
        <!-- Show box 
        <h1 class="pagetitle">$CLIENT_PAGE</h1> -->
        <div class="edit-unit">
            <fieldset >
                <legend>&nbsp;$DETAILS_CLIENT&nbsp;</legend>

                <div class="register-switch">
                    $users
                </div>

                <!-- <div class="register-switch">
                    $devices
                </div> -->
                <div class="register-switch">
                    $durations
                </div>
                <input type="submit" value="Start" name=start class="register-button">
            </fieldset>                      
        </div>
