<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<meta http-equiv="REFRESH" content="5; url=$redirect_to">
<title>Internet Gateway. Error</title>
<style type="text/css">
BODY	{FONT-SIZE: 12pt; COLOR: #303040; FONT-FAMILY: verdana,arial,sans-serif;}
</style>
</head>

<body bgcolor="#F2F2F2">

<table width="100%" border="3" cellpadding="15" cellspacing="0" bgcolor="#E2F4FF" bordercolor="#569FD3">
	<tr height="50" align=center valign=middle bgcolor="#7DA1FF">
		<td style="font-size:16pt">$ALERT_CAPTION</td>
	</tr>

	<tr align=center height=80>
    	<td style="font-size:16pt" bgcolor="$alert_color" >$alert_text</td>
	</tr>
	<!-- <tr align=center height=80>
    	<td style="font-size:16pt" bgcolor="#E2F4FF" >$REDIRECT</td>
	</tr> -->
</table>


</body>
</html>
