/* Common definitions */

*{padding:0; margin:0;}
 body {font-size:62.5%; background-color:#F2F2F2; font-family:verdana,arial,sans-serif;} 
.page-container {width:99%; margin:0px auto; margin-top:10px; margin-bottom:10px; border:solid 3px #569FD3; font-size:1.0em; background:#E2F4FF }
.header {width:100%; height:70px; background:#FFFFFF url(header.jpg);}
.main {clear:both; width:100%; }
.main-navigation {width:100%; } 
.main-content {width:100%; }
.footer {clear:both; width:100%; padding:0 0 0 0; background:rgb(225,225,225) font-size:1.0em; }

.header-body {padding:10px 10px 0px 0px; text-align:right; font-family:verdana,arial,sans-serif; color:#2516AE;}
.header-body h1 {font-size:220%;}
.header-body h2 {font-size:120%;}



/* Tables */
.table-unit {margin-bottom:10px;}
.edit-unit {margin-bottom:10px;}

.footer p { margin:0px; width:100%; height:30px; line-height:3em; background:#FFFFFF url(footer.jpg);text-align:center; color:rgb(125,125,125); font-weight:bold; font-size:110%; }

/* Navigation */
#navigation_line{margin-top:50px;margin-left:auto;margin-right:auto;padding:0; padding-right:10px;height:40px;list-style-type:none;}
.button a{cursor:pointer;text-align:center;font-size:150%;font-weight:bold;position:relative;min-width:50px;height:20px;float:left;padding:10px;padding-top:10px;padding-bottom:10px;text-decoration:none;}
.navigation,.navigation .button a{color:#2516AE;background: #E2F4FF;border-right:solid 1px #0078a5;}
.navigation .button a:hover,.navigation .button a:focus{background: #7DA1FF;}



/* MAIN CONTENT */
.main-content h1.pagetitle {margin:0 0 0.4em 0; padding:20px 0 2px 0; border-bottom:solid 7px #7DA1FF; font-family:"trebuchet ms",arial,sans-serif; color:#2516AE; font-weight:bold; font-size:120%;}

.table-unit table {clear:both; width:100%; table-layout: auto; border-collapse:collapse; empty-cells:show; background-color:#FFFC8B;}

.table-unit table th {border-left:2px solid #E2F4FF; padding:4px 0px 4px 0px; background-color:#E2F4FF; text-align:center; color:#2516AE; font-weight:bold; font-size: 200%; }
.table-unit table th.first {border-left:0px; }

.table-unit table td {border-left:2px solid #E2F4FF; font-size:400%;}
.table-unit table td.first {border-left:0px; }
.table-unit table td.red {color:#FF0000; font-weight:bold;}
.table-unit table td.selected {font-weight:bold;}
.table-unit table td input {font-size:150%;}

.table-unit table td a, .table-unit table td a:visited { display:block; text-decoration:none; color:#2516AE; font-weight:bold; font-size:100%;}  
.table-unit table td a:hover {display:block; background-color:#7DA1FF; color:rgb(42,90,138); text-decoration:none;}

.table-unit table tr.bottom {font-size:100%;text-align:center; color:#2516AE; background-color:#B5B5B5;}
.table-unit table tr.odd {text-align:center; font-weight:normal; color:rgb(80,80,80); background-color:#CCECFF; } 
.table-unit table tr.even {text-align:center; font-weight:normal; color:rgb(80,80,80); background-color:#B2E2FF; }
.btn { -webkit-border-radius: 22; -moz-border-radius: 22; border-radius: 22px; color: #2516AE; border: 0; padding-right: 20px; padding-left: 20px;  background: #7DA1FF; text-decoration: none; margin: 2px; }
.btn:hover { background: #FFFFFF; text-decoration: none; }




.edit-unit table {clear:both; width:100%; table-layout: fixed; border-collapse:collapse; empty-cells:show; background-color:#FFEBA4;}
.edit-unit table td {background-color:#F5D778; text-align:left; color:#2516AE; font-weight:bold; font-size:170%; }
.edit-unit table td.small {padding-left:40px; background-color:#F5D778; text-align:left; color:#2516AE; font-weight:bold; font-size:70%; }
.edit-unit table td.right {text-align:right; }

.simple-unit {width:97%; margin:2.0em 0 0 0; padding:10px 10px 10px 10px; border:solid 1px rgb(200,200,200); background-color:rgb(240,240,240);}
.edit-unit { padding:10px 10px 30px 10px; border:solid 1px rgb(200,200,200); background-color:rgb(240,240,240);}
.edit-unit fieldset {padding:3px 0 0 0 !important /*Non-IE6*/; padding:0 /*IE6*/; margin:0 0 5px 0; border:solid 1px rgb(220,220,220);}
.edit-unit fieldset legend {margin:0 0 0 5px !important /*Non-IE*/; margin:0 0 10px 5px /*IE6*/; padding:0 2px 0 2px; color:rgb(80,80,80); font-weight:bold; font-size:130%;}
.edit-unit label.left {float:left; width:150px; margin:0 0 0 10px; padding:2px; font-size:110%;}

.edit-unit select.combo {width:281px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:110%;}
.edit-unit input {font-family:verdana,arial,sans-serif; font-size:110%;}
.edit-unit input.c_field {width:275px; padding:2px; margin: 2px 2px 2px 2px; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:110%;background-color:#FFFFFF;}
.edit-unit input.field {width:275px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:110%;}
.edit-unit textarea {width:275px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:110%;}
.edit-unit input.drop {float:right; height: 35px; width:40px; margin-top: 5px; margin-right:170px; padding:1px; color:#000000;}
.edit-unit input.button {float:left;margin-top:2px; margin-left:20px; margin-bottom: 5px; margin-right:500px; padding:1px; color:#000000;}
.edit-unit input.left {float:left; margin-left:20px; margin-bottom: 10px; padding:1px; color:#000000;}
.edit-unit input.leftnext {float:left; margin-left:20px; margin-bottom: 10px; padding:1px; color:#000000;}



.register-switch {
  height: 32px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 4px;
  background: #7DA1FF;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
}

.register-switch-input {
  display: none;
}

.register-switch-label {
  float: left;
  line-height: 32px;
  color: white;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.register-switch-input:checked + .register-switch-label {
  font-weight: 500;
  color: #434248;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: white;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
  background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.register-input {
  display: block;
  width: 100%;
  height: 38px;
  margin-top: 2px;
  font-weight: 500;
  background: none;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}
.register-input:focus {
  border-color: #1e9ce6;
  outline: 0;
}

.register-button {
  display: block;
  width: 100%;
  height: 42px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #494d59;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: #fcfcfc;
  border: 1px solid;
  border-color: #d8d8d8 #d1d1d1 #c3c3c3;
  border-radius: 2px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
  background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
  -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
}
